<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>



    <body>

        <!-- <% const title = "Home" %> -->
        <%- include('./partials/nav.ejs') %>
            <div class="slid">
                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">1 / 3</div> -->
                        <img src="https://pngimg.com/uploads/vaccine/vaccine_PNG13.png" style="width:80%"
                            height="400px">
                        <!-- <div class="text">Caption Text</div> -->
                    </div>

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">2 / 3</div> -->
                        <img src="https://pngimg.com/uploads/vaccine/vaccine_PNG64.png" style="width:80%"
                            height="400px">
                        <!-- <div class="text">Caption Two</div> -->
                    </div>

                    <div class="mySlides fade">
                        <!-- <div class="numbertext">3 / 3</div> -->
                        <img src="https://cdn.pixabay.com/photo/2020/05/25/04/09/corona-warrior-5216870_1280.png"
                            style="width:80%" height="400px">
                        <!-- <div class="text">Caption Three</div> -->
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                </div>
                <div class="slideshow-text">
                    <h1>Covid Tracker</h1>
                    <p>This is a small initiative by our side in this pandemic time. The aim is to help the needy one in this COVID time. Your small help can be life savior action so if you have any resources then please share it with us. If you need any help then also you can post it here .
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim recusandae ipsam consequuntur
                        cupiditate suscipit eum, fugiat voluptatibus laboriosam! Facere amet recusandae necessitatibus
                        aut error alias eius iste qui cum doloribus?Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Dolorem inventore, assumenda sint eaque quae est. Exercitationem sit, aut quae quod nobis
                        ipsum modi, tempora magnam porro accusamus debitis fugiat eum.
                    </p>

                    <button><a style="color: white;" href="/home/help">Help</a></button>
                </div>

                <div class="dots" style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            <!-- 
            <div class="highlight">
                <h1><a href="#">Ask help if u need..</a></h1>
            </div> -->

            <table id="customers">
                <tr>
                    <th>Help type</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>State</th>
                    <th>Description</th>
                </tr>
                <% if (blogs.length> 0) { %>
                    <% blogs.forEach(blog=> { %>
                        <tr>
                            <td><%= blog.helptype %></td>
                            <td><%= blog.mrms %> <%= blog.name1 %> <%= blog.name2 %></td>                            
                            <td><%= blog.email %></td>
                            <td><%= blog.contact %></td>
                            <td><%= blog.state %></td>
                            <td><%= blog.description %></td>
                        </tr>
                        <% }) %>
                <% } else {%>
                        <tr>
                            <td>There are no requirements to display..</td>
                        </tr>
                <% } %>

                <!-- <tr>
                    <td>Berglunds snabbköp</td>
                    <td>Christina Berglund</td>
                    <td>Sweden</td>
                    <td>Sweden</td>
                    <td>Sweden</td>
                    <td>Sweden</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    <td>Mexico</td>
                    <td>Mexico</td>
                    <td>Mexico</td>
                </tr> -->

            </table>

            <%- include('./partials/footer.ejs') %>
    </body>

    <script>

        var slideIndex = 1;
        document.getElementsByClassName("slid").width = screen.width
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

        
    </script>

</html>